.container{
    text-align: center;
    border-radius: 8px;  
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #a3b873; */
    width: 200px;
    border-radius: 15px;
    height:200px;
}
.image{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    height: 70%;
    border-radius: 15px;
}
.topcontainer{
    margin-top: 15px;
    padding: 10px;
}